
.upload__wrapper {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 21px;
}

.upload__title {
  margin: 0;
  margin-bottom: 42px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  color: #283645;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.upload__form {
  margin: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  background-color: #f2f2f2;
}

.upload__preview {
  width: 280px;
  height: 374px;
}

.upload__preview-image {
  display: block;
}

.upload__button {
  display: block;

  width: 100%;
  margin-bottom: 12px;
  padding: 15px;

  cursor: pointer;
  text-align: center;

  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
  background: none;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &--send {
    color: #d22856;
    border-color: #d22856;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #d22856;
    }

    &:active {
      color: rgba(#ffffff, 0.3);
    }
  }

  &--cancel {
    opacity: 0.1;
    color: #283645;
    border-color: #283645;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.3;
      color: #ffffff;
      background-color: #283645;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--disbled,
  &:disabled {
    cursor: not-allowed;
  }
}

@media (min-width: 660px) {
  .upload__title {
    margin-bottom: 70px;
    padding-right: 120px;
    padding-left: 120px;

    font-size: 18px;
  }

  .upload__wrapper {
    width: 660px;
  }

  .upload__form {
    display: flex;
    justify-content: space-between;

    padding-top: 57px;
    padding-bottom: 54px;
  }

  .upload__preview {
    width: 300px;
    height: 400px;
  }

  .upload__editor {
    display: flex;
    flex-direction: column;

    width: 300px;
    padding-left: 25px;
  }

  .upload__buttons {
    margin-top: auto;
  }

  .upload__button {
    margin-bottom: 24px;
  }
}

@media (min-width: 960px) {
  .upload__wrapper {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .upload__form {
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 80px;
  }

  .upload__editor {
    width: 410px;
    padding: 0;
  }

  .upload__buttons {
    display: flex;
    justify-content: space-between;
  }

  .upload__button {
    width: 183px;
    margin: 0;
  }
}
