.user-photo {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;

  &--big {
    background: none;

    .user-photo__info {
      margin-right: 20px;
      margin-left: 20px;

      background-color: #f2f2f2;
    }
  }
}

.user-photo__label-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: start;
  justify-content: flex-end;

  padding-right: 20px;
  padding-left: 20px;
}

.user-photo__label {
  display: inline-block;

  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #d22856;

  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}

.user-photo__picture {
  position: relative;

  margin: 0;
}

.user-photo__image {
  display: block;
}

.user-photo__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-top: 25px;
  padding-right: 17px;
  padding-bottom: 25px;
  padding-left: 17px;
}

.user-photo__author {
  margin: 0;

  color: #283645;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.user-photo__date {
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 300;
}

.user-photo__desc {
  margin: 0;
  margin-bottom: 23px;

  color: #283645;

  font-size: 14px;
  line-height: 24px;
}

.user-photo__likes {
  display: flex;
  align-items: center;

  margin: 0;
  margin-top: auto;

  text-transform: uppercase;

  color: #d22856;

  font-size: 12px;
}

.user-photo__likes-icon {
  width: 13px;
  height: 12px;
  margin-right: 18px;

  fill: #d22856;
}


@media (min-width: 660px) {
  .user-photo__label-wrapper {
    padding-top: 57px;
  }


  .user-photo__info {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 27px;
  }

  .user-photo__likes {
    justify-content: space-between;
  }

  .user-photo__likes-icon {
    order: 1;

    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .user-photo {
    &--big {
      .user-photo__info {
        margin-right: 130px;
        margin-left: 130px;
      }
    }
  }

  .user-photo__label-wrapper {
    padding-top: 54px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
