.user-photo {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;

  &--big {
    background: none;

    .user-photo__info {
      background-color: #f2f2f2;
    }

    .user-photo__wrapper {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--big {
      .user-photo__wrapper {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

.user-photo__label-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: start;
  justify-content: flex-end;

  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.user-photo__label {
  display: inline-block;

  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #d22856;

  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}

.user-photo__picture {
  position: relative;

  margin: 0;

  &--panarama {
    display: flex;
    overflow: hidden;
    justify-content: center;

    height: 137px;

    .user-photo__image {
      flex-grow: 1;

      width: 100%;
      min-width: 320px;
      min-height: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    &--panarama {
      height: 509px;

      .user-photo__image {
        min-width: 660px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--panarama {
      height: 506px;

      .user-photo__image {
        min-width: 1200px;
      }
    }
  }
}

.user-photo__image {
  display: block;
}

.user-photo__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 121px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 27px;
  }
}

.user-photo__author {
  margin: 0;

  color: #283645;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.user-photo__date {
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.user-photo__desc {
  margin: 0;
  margin-bottom: 8px;

  color: #283645;

  font-size: 14px;
  line-height: 24px;
}

.user-photo__likes {
  display: flex;
  align-items: center;

  margin: 0;
  margin-top: auto;

  text-transform: uppercase;

  color: #d22856;

  font-size: 12px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.user-photo__likes-icon {
  width: 13px;
  height: 12px;
  margin-right: 18px;

  fill: #d22856;

  @media (min-width: $tablet-width) {
    order: 1;

    margin-right: 0;
  }
}


.smaple {
  width: 100%;
  height: 329px;
  margin-bottom: 20px;

  background-color: red;

  @media (min-width: $tablet-width) {
    height: 630px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 602px;
  }
}
