.promo-app {
  padding-top: 22px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 110px;
}

.promo-app__title {
  margin: 0;
  margin-bottom: 316px;
  padding-right: 20px;
  padding-left: 20px;

  line-height: 29px;
}

.promo-app__download {
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  background-color: #1d2631;
}

.promo-app__download-button {
  display: block;

  margin-bottom: 32px;
  padding: 15px;
  padding-bottom: 16px;

  text-align: center;
  text-decoration: none;

  color: $white-color;
  border: 3px solid $white-color;
  border-radius: 29px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &:hover,
  &:focus {
    color: $pink-color;
    background-color: $white-color;
  }

  &:active {
    color: rgba($pink-color, 0.3);
    background-color: $white-color;
  }
}

.promo-app__download-list {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-right: 33px;
  padding-left: 33px;

  list-style: none;
}

.promo-app__download-link {
  display: block;

  width: 56px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: 50% 100%;

  &--ios {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.promo-app__download-platform {
  margin: 0;

  text-align: center;

  color: $white-color;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .promo-app {
    padding-top: 93px;
    padding-right: 20px;
    padding-bottom: 114px;
    padding-left: 20px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 50% 100%;
  }

  .promo-app__wrapper {
    width: 300px;
  }

  .promo-app__title {
    margin-bottom: 31px;
    padding-right: 30px;
    padding-left: 30px;

    line-height: 48px;
  }

  .promo-app__download {
    padding: 0;

    background: none;
  }

  .promo-app__download-button {
    margin-bottom: 46px;
  }

  .promo-app__download-platform {
    margin: 0;

    font-size: 18px;
  }

  .promo-app__download-list {
    margin-bottom: 32px;
    padding-right: 42px;
    padding-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .promo-app {
    padding-top: 98px;
    padding-right: 10px;
    padding-bottom: 125px;
    padding-left: 10px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 26px 100%;
  }

  .promo-app__title {
    margin-bottom: 37px;

    line-height: 68px;
  }

  .promo-app__download-button {
    margin-bottom: 68px;

    font-size: 21px;
  }

  .promo-app__download-list {
    margin-bottom: 52px;
  }
}
