.contest-form {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.contest-form__wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 54px;
}

.contest-form__intro {
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  color: #283645;

  font-size: 14px;
  line-height: 30px;
}

.contest-form__section {
  min-width: 0;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 44px;
  padding-left: 20px;

  border: none;

  &--achievement {
    background-color: #f2f2f2;
  }

  &--app {
    background-color: #f2f2f2;
  }
}

.contest-form__title {
  float: left;

  margin: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;
  text-transform: uppercase;

  color: #d22856;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  + * {
    clear: both;
  }
}

@media (min-width: 660px) {
  .contest-form__wrapper {
    width: 660px;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contest-form__intro {
    padding-right: 65px;
    padding-left: 65px;

    font-size: 18px;
  }

  .contest-form__section {
    padding-right: 60px;
    padding-left: 60px;

    border: 2px solid #e5e5e5;
    border-radius: 2px;

    &--achievement {
      background: none;
    }

    &--app {
      background: none;
    }
  }

  .contest-form__title {
    float: none;

    line-height: 30px;
  }
}

@media (min-width: 960px) {
  .contest-form__wrapper {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contest-form__intro {
    padding-right: 90px;
    padding-left: 90px;
  }

  .contest-form__checkbox-list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}
