.message-popup {
  position: absolute;
  left: 50%;

  display: none;
  overflow: hidden;

  width: 320px;

  transform: translateX(-50%);

  color: $black-color;
  border-radius: 5px;
  background-color: $white-color;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--succes {
    top: 600px;

    .message-popup__top-wrapper {
      padding-bottom: 34px;
    }
  }

  &--failure {
    top: 120px;

    .message-popup__bottom-wrapper {
      padding-top: 41px;

      background-color: $white-color;
    }
  }

  &--show {
    display: block;
  }
}

.message-popup__top-wrapper {
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
}

.message-popup__bottom-wrapper {
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;

  background-color: $secondery-bg-color;
}

.message-popup__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;

  font-size: 18px;
  line-height: 24px;
}

.message-popup__text {
  margin: 0;

  text-align: center;

  font-size: 14px;
  line-height: 24px;
}

.message-popup__button {
  display: block;

  width: 100%;
}


@media (min-width: $tablet-width) {
  .message-popup {
    width: 460px;

    &--succes {
      .message-popup__top-wrapper {
        padding-bottom: 30px;
      }
    }

    &--failure {
      .message-popup__bottom-wrapper {
        padding-top: 33px;
        padding-bottom: 52px;
      }
    }
  }

  .message-popup__top-wrapper {
    padding-top: 40px;
    padding-right: 75px;
    padding-left: 75px;
  }

  .message-popup__bottom-wrapper {
    padding-right: 80px;
    padding-left: 80px;
  }

  .message-popup__title {
    margin-bottom: 23px;

    font-size: 30px;
    line-height: 40px;
  }

  .message-popup__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .message-popup {
    width: 780px;

    &--failure {
      .message-popup__bottom-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;

        background-color: $secondery-bg-color;
      }
    }
  }

  .message-popup__top-wrapper {
    min-height: 214px;
    padding-right: 185px;
    padding-left: 185px;
  }

  .message-popup__bottom-wrapper {
    padding-right: 160px;
    padding-left: 160px;
  }

  .message-popup__title {
    font-size: 30px;
    line-height: 40px;
  }
}
