.page-header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page-header__intro {
  padding-right: 20px;
  padding-left: 20px;

  &--inner-page {
    // min-height: 171px;
    padding-top: 35px;
    padding-bottom: 50px;
  }
}

.page-header__intro-title {
  margin: 0;
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header__intro {
    &--inner-page {
      min-height: 330px;
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 49.9% 0;
  }

  .page-header__intro {
    padding-right: 10px;
    padding-left: 10px;

    &--inner-page {
      min-height: 284px;
      padding-top: 70px;
      padding-bottom: 100px;
    }
  }

  .page-header__intro-title {
    padding-right: 60px;
    padding-left: 60px;
  }
}
