/* STATES & MODES
--------------------------------------------- */

html[data-state="off"] {
  background: none;
}

html[data-state="off"] body {
  opacity: 1 !important;

  filter: none;
}


body[data-filter="invert"] {
  filter: invert(1);
}

/* CONTROLS
--------------------------------------------- */

.controls-panel {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 20px;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  min-width: 175px;
  padding: 5px;

  transform: translateY(-50%);
  text-transform: none;

  color: #000000;
  border: 2px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;
  outline: none;
  background: hsla(0, 0%, 100%, 0.9);
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);

  font: 14px/1.2 Arial, sans-serif;
}

.controls-panel__control {
  margin-right: 5px;
  padding: 3px;

  vertical-align: middle;

  border: 2px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;
  outline: none;

  font: inherit;
}

.controls-panel__control:focus {
  box-shadow: 0 0 0 3px hsl(75, 100%, 45%);
}

.controls-panel__control:disabled {
  cursor: default;

  opacity: 0.35;
  background: transparent;
}

.controls-panel__control--button {
  padding-right: 5px;
  padding-left: 5px;

  cursor: pointer;

  color: hsla(0, 0%, 0%, 0.9);
}

.controls-panel__control--button:enabled {
  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4) inset,
    0 -4px 4px hsla(90, 100%, 70%, 1) inset;
}

.controls-panel__control--button:enabled:focus {
  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4) inset,
    0 -4px 4px hsla(90, 100%, 70%, 1) inset,
    0 0 0 3px hsl(75, 100%, 45%);
}

.controls-panel__control--button[data-state-num="0"]:enabled {
  opacity: 0.8;
  background: #dddddd;
  box-shadow: none;
}

.controls-panel__control--number {
  box-sizing: content-box;
  max-width: 2.7em;
  padding-right: 0;

  text-align: center;
}

.controls-panel__control--number:focus {
  border-color: hsla(0, 0%, 0%, 0.35);
}

.controls-panel__control--drag-n-drop {
  position: relative;

  width: 19px;
  min-height: 1.8em; /* IE10 fixes */
  margin: 0;
  padding: 0;

  cursor: move;

  background: transparent;
}

.controls-panel__control--drag-n-drop:active {
  cursor: grabbing;
  cursor: grabbing;
  cursor: grab;

  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4) inset,
    0 -4px 4px hsla(90, 100%, 70%, 1) inset,
    0 0 0 3px hsl(75, 100%, 45%);
}


.controls-panel__control--drag-n-drop::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 3px;
  height: 3px;
  margin: auto;

  content: "";
  pointer-events: none;

  border-radius: 50%;
  background: hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 6px 0 hsla(0, 0%, 0%, 0.5),
    0 -6px 0 hsla(0, 0%, 0%, 0.5);
}
