.range-slide {
  display: block;

  padding: 0;
}

.range-slide__bar {
  position: relative;

  height: 2px;

  background-color: $primary-color;
}

.range-slide__toggle {
  position: absolute;
  top: 50%;
  left: 45%;

  display: block;

  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transform: translateY(-50%);

  border: 2px solid $pink-color;
  border-radius: 50%;
  background-color: $secondery-bg-color;

  &:hover,
  &:focus {
    background-color: $pink-color;
  }
}
