.custom-radio {
  color: $primary-color;

  font-size: 18px;
  line-height: 30px;

  label {
    position: relative;

    display: flex;
    align-items: center;

    padding-left: 70px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      width: 41px;
      height: 41px;

      content: "";
      transform: translateY(-50%);

      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background-color: $white-color;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 13px;

      display: none;

      width: 15px;
      height: 15px;

      content: "";
      transform: translateY(-50%);

      border-radius: 50%;
      background-color: $pink-color;
    }

    &:hover,
    &:focus {
      &::before {
        border-color: $primary-color;
      }
    }

    &:active {
      &::before {
        border-color: $pink-color;
      }
    }
  }

  input[type="radio"] + label {
    &:hover,
    &:focus {
      &::before {
        border-color: $primary-color;
      }
    }

    &:active {
      &::before {
        border-color: $pink-color;
      }
    }
  }

  input[type="radio"]:checked + label {
    position: relative;

    &::after {
      display: block;
    }
  }
}

.radio-list {
  display: grid;

  padding: 0;

  list-style: none;

  grid-row-gap: 45px;
}

@media (min-width: $tablet-width) {
  .custom-radio {
    label {
      &::before {
        margin-right: 22px;
      }
    }
  }
}
