@import "./fonts.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-nav.scss";

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  min-width: 320px;
  background-image: url("../img/back-desktop.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}
